.feature
  color       white
  text-align  center
  width       20*gs
  &__image
    width   98*PX
    height  67*PX
    border  PX solid red
    background url('i/feature-fast.svg') no-repeat center center
    fly()
  &__header
    font-size       18*PX
    letter-spacing  1.7*PX
    margin-bottom   gs
  &__text
    opacity         .5
    font-size       12*PX
    letter-spacing  PX
    line-height     1.85