@import '../imports.styl'

{el = '.post'}
  color             c-white
  &__header
    color           c-orange
    font-size       24*PX
    letter-spacing  2*PX
  &__description
    color           c-orange
    font-size       16*PX
    opacity         .5
    margin-top      .8*gs
  &__paragraph
    line-height     30*PX
    text-align      justify
    & + {el}__paragraph
      margin-top    2*gs
      
  .post-image
    margin          5*gs auto
    // display none
