@import '../imports.styl'

{el = '.post'}
  color             c-white
  &__header
    color           c-orange
    font-size       24*PX
    letter-spacing  2*PX
  &__description
    color           c-orange
    font-size       16*PX
    opacity         .5
    margin-top      .8*gs
  &__paragraph
    line-height     30*PX
    text-align      justify
    & + {el}__paragraph
      margin-top    2*gs
  &__orx-line
    margin          3.5*gs 0 3*gs
  &__last-orx-line
    margin-top      9*gs
    margin-bottom   0
    max-width       40*gs
    fly()
  &__social-networks-about
    margin          9.5*gs auto 0
  &__comments
    margin-top      11*gs
  .post-image
    margin          5*gs auto
  .cite
    margin          5*gs auto 8*gs
