.social-networks-about
  color             white
  color             rgba(white, .6)
  font-size         11*PX
  letter-spacing    PX
  width             18*gs
  text-align        center
  &__icons
    margin-bottom   6*gs
    display         inline-block
  &__icon
    float           left
    rect            28*PX
    &--twitter
      margin-right  4*gs
      fill          c-blue
    &--dribbble
      fill          c-pink
  &__link
    text-decoration none
    color           inherit