@import '../imports'
@import '../blocks/feature'
@import '../blocks/motion-lettering'
@import '../blocks/code-block'
@import '../blocks/social-networks-about'
@import '../blocks/motion-demo'

.main-page
  position relative
  &__content
    max-width 70*gs
    fly()
  .motion-lettering
    margin-top    16*gs
    margin-bottom 2*gs
    fly()
    +desktop()
      margin-top    12*gs
      margin-bottom 0*gs
    +tablet()
      margin-top    8*gs
  &__quick-start
    margin-top    3*gs
  &__api-demo
    margin-top    6.5*gs
  &__buttons
    margin-top    9*gs
    fly()
    a
      display     block
      width       100%
  .motion-demo
    padding-top   7*gs
    position      relative
  .social-networks-about
    margin-top  13.5*gs
    fly()