@import '../imports'
@import '../blocks/feature'
@import '../blocks/motion-lettering'
@import '../blocks/code-block'

.main-page
  &__content
    width 70*gs
    fly()
  .motion-lettering
    margin-top 16*gs
    fly()
  .code-block
    width         66*gs
    margin-top    3*gs
    margin-left   gs