@import '../imports'
@import '../blocks/motion-lettering'

sidebarWidth = 20
{el = '.tutorials-page'}
  // height        200*gs
  padding-left    7.5*gs
  padding-top     18.5*gs
  padding-bottom  14*gs
  overflow        hidden
  width           100%
  @media all and (max-width: 1150px)
    padding-left  3.5*gs
  @media all and (max-width: 1100px)
    padding-left  0
  @media all and (max-width: 900px)
    padding-left  4*gs
    padding-right 4*gs
  +mobile()
    padding-left  2*gs
    padding-right 2*gs
    padding-top   9*gs
    padding-bottom 5*gs
  &__content
    position      relative
    margin-left   sidebarWidth*gs
    @media all and (max-width: 1170px)
      margin-left (sidebarWidth - 3)*gs
    @media all and (max-width: 1120px)
      margin-left  0
  &__sidebar
    width         sidebarWidth*gs
    position      absolute
    left          6%
    @media all and (max-width: 1170px)
      width       (sidebarWidth + 1)*gs
      left        3%
    @media all and (max-width: 1120px)
      left            0*gs
      padding-left    3.5*gs
      background      rgba(c-purple, .95)
      padding-top     5*gs
      padding-bottom  5*gs
      z-index         10
      // box-shadow      gs 5*gs 0 rgba(0,0,0,.2)
      transition      transform .3s ease-out
      // transform       translateX(-100%)
      &:after
        content       ''
        position      absolute
        right       - gs
        top           5.5*gs
        bottom        0
        width         gs
        background    rgba(0,0,0,.2)
      &.is-open
        transform   translateX(0)
  .sticky
    z-index     10
    bottom      0
    // height      100%
    overflow-y  auto
  .tutorials-sidebar
    fly()
  .post
    max-width     80*gs
    fly()
 