@import '../imports'
@import '../blocks/motion-lettering'

sidebarWidth = 20
{el = '.tutorials-page'}
  height   200*gs
  &__content
    // max-width   80*gs
    margin-left sidebarWidth*gs
    // hl orange
    .motion-lettering
      fly()
  &__sidebar
    width       sidebarWidth*gs
    float       left
    min-height  100%
    // hl()
  // background-color #222
 