@import '../imports'
@import '../blocks/motion-lettering'

sidebarWidth = 20
{el = '.tutorials-page'}
  // height        200*gs
  padding-left    7.5*gs
  padding-top     18.5*gs
  padding-bottom  14*gs
  // overflow-x      hidden
  width           100%
  @media all and (max-width: 1150px)
    padding-left  3.5*gs
  @media all and (max-width: 1100px)
    padding-left  0
  @media all and (max-width: 900px)
    padding-left  4*gs
    padding-right 4*gs
  +mobile()
    padding-left  2*gs
    padding-right 2*gs
    padding-top   9*gs
    padding-bottom 5*gs
  &.is-sidebar-open
    {el}__sidebar
      transform   translateX(0) translateZ(0)
      &:before
        opacity   1
    {el}__svg-arrow
      transform   rotateY(180deg) translate3d(1*PX, 0, 0)
  &__content
    position      relative
    margin-left   sidebarWidth*gs
    @media all and (max-width: 1170px)
      margin-left (sidebarWidth - 3)*gs
    @media all and (max-width: 1120px)
      margin-left  0
  &__sidebar-scroll
    height          100%
    overflow-y      auto
    position        absolute
    top             0
    left            0
    padding-bottom  4*gs
    padding-left    3.5*gs
  &__sidebar
    width         sidebarWidth*gs
    position      absolute
    left          6%
    height        100%
    z-index       headerLayer + 1
    // padding-bottom 4*gs
    @media all and (max-width: 1200px)
      width       (sidebarWidth + 1)*gs
      left        3%
    @media all and (max-width: 1120px)
      left            0*gs
      padding-left    3.5*gs
      background      rgba(c-purple, .95)
      padding-top     5*gs
      padding-bottom  5*gs
      // box-shadow      gs 5*gs 0 rgba(0,0,0,.2)
      // transition      transform .3s ease-out
      transform       translateX(-100%)
      &:before
        content       ''
        position      absolute
        top           4*gs
        right       - gs
        height        100%
        width         gs
        opacity       0
        transition    opacity .3s ease-out
        background    rgba(0,0,0,.2)
      &:after
        content       ''
        width         100%
        height        4*gs
        background    inherit
        position      absolute
        left          0
        bottom       -4*gs
        // hl()
  &__expand-btn
    position        absolute
    top             2.5*gs
    right          -4*gs
    z-index         1
    cursor          pointer
    transform       translateZ(0)
    display         none
    circle          4*gs
    &:before,
    &:after
      content       ''
      position      absolute
      height        100%
      width         60%
      border-top-right-radius    2*gs
      border-bottom-right-radius 2*gs
    &:after
      background    c-orange
    &:before
      background    rgba(0,0,0,.2)
      left          .8*gs
      top           .5*gs
    &:active
      &:after,
      {el}__svg-arrow
        transform   translate3d(2*PX, 2*PX, 0)
      &:before
        transform   translate3d(-2*PX, -2*PX, 0)
    @media all and (max-width: 1120px)
      display     block
  .sticky
    bottom      0
    z-index     21
  .tutorials-sidebar
    fly()
  &__svg-arrow
    position    absolute
    z-index     2
  .post
    max-width     80*gs
    fly()
 