c-orange = #F64040
c-pink   = #FC46AD

c-green  = #00F87F
c-yellow = #FFE952
c-cyan   = #31FFD1
// c-blue   = #00D7FC
c-blue   = #00AADA

c-white-transparent = rgba(white, .2)
c-white-semi        = rgba(white, .97)
