@import './imports'
@import './icons'
// @import './blocks/'
@import './pages/base-page'
@import './grid'
@import './highlight'

body
  background  #3A0839 url('i/pattern.png') repeat
  font-family Century Gothic, sans-serif

html, body
  margin      0
  padding     0
  
*
  box-sizing border-box
  
// CLEARFIX
.cf:after,
.cf:before
  content ''
  display table
.cf:after
  clear both
.cf
  zoom 1

