@import './imports'
@import './icons'
// @import './blocks/'
@import './pages/base-page'
@import './grid'
@import './highlight'

body
  background  #3A0839 url('i/pattern.png') repeat
  font-family Century Gothic, sans-serif

html, body
  margin      0
  padding     0
  // opacity 0
*
  box-sizing border-box
  
.touchable
  &:active
    transform translate(0, 2*PX)
  
// CLEARFIX
.cf:after,
.cf:before
  content ''
  display table
.cf:after
  clear both
.cf
  zoom 1

shift     = 300
duration  = .3s
.example-enter
  transform   translateX((shift)px)
  opacity     0
.example-enter.example-enter-active
  transform   translateX(0)
  opacity     1
  transition  all duration ease-out
  
.example-leave
  transform   translateX(0)
  opacity     1
.example-leave.example-leave-active
  transform   translateX((shift)px)
  transition  all duration ease-out
  opacity     0

.example-appear
  transform   translateY((shift)px)
  // opacity     0.01
.example-appear.example-appear-active
  transform   translateY(0)
  transition  all duration ease-in
  // opacity     1

