@import './imports'
@import './icons'
// @import './blocks/'
@import './pages/base-page'
@import './grid'
@import './highlight'

body
  background  #3A0839 url('i/pattern.png') repeat
  font-family Century Gothic, sans-serif

html, body
  margin      0
  padding     0
  // opacity 0
*
  box-sizing border-box
  
.link
  position  relative
  &:after
    content     ''
    height      1*PX
    width       100%
    background  currentColor
    position    absolute
    left        0
    bottom     -3*PX
    // transform-origin center center
    transform scaleX(0)
    transition transform .1s ease-out
  &:hover
    &:after
      transform scaleX(1)
  &.active
    &:after
      transform   scaleX(1)
  // &.button
  //   &:after
  //     bottom      9*PX
  //   &:hover
  //     &:after
  //       transform scaleX(.58)
      

    
  
// CLEARFIX
.cf:after,
.cf:before
  content ''
  display table
.cf:after
  clear both
.cf
  zoom 1

