@import '../../../css/imports'

.mole-hand
  width             54*PX
  height            102*PX
  background        url('./i/mole-hand.svg') no-repeat center center
  border-radius     BRADIUS
  position          absolute
  nw                50%
  margin-left      -25*PX 
  margin-top       -50*PX
  transform-origin  center top