@import '../imports.styl'
@import '../blocks/easing-graph-line.styl'

{el = '.easing-graph'}
  rect            320*PX
  background      c-creamy-semi
  border-radius   BRADIUS
  position        relative
  
  size = 200
  &__center
    rect          size*PX
    centerize     size
    background    rgba(c-purple, .98)
    
  &__small-label
    font-size     6*PX
    position      absolute
    opacity       .5 
    &--zero
      ne          100%
    &--one
      sw          100%
    
  &__label
    font-size         6*PX
    letter-spacing    PX
    background-color  inherit
    position          absolute
    padding           0 7*PX PX
    &--progress
      top             100%
      left            50%
      transform       translateX(-50%)
    &--custom
      nw              50%
      transform       translate(-50%, -100%)
  // wrapper to posit &--custom label
  &__custom-label-wrapper
    rect             0
    position         absolute
    top              50%
    transform        rotate(-90deg)
    background-color inherit

  &__graph
    position        absolute
    nw              0
    rect            100%
    svg
      overflow      visible
      position      absolute
      rect          100%
    path
      stroke        white
      stroke-with   2*PX
  
  size = 6
  &__point
    circle          size*PX
    margin-left     -(size/2)*PX + PX
    margin-top      -(size/2)*PX - PX
    background      c-orange
    position        absolute
    top             100%
    z-index         2
      
  &__line-wrapper
    height          100%
    width           0
  .easing-graph-line
    position absolute
