@import '../imports.styl'


.headroom
  transition all .3s ease-out

.header
  position  fixed
  z-index   headerLayer
  width     100%
  transform translateZ(0)
  &__links
    float         right
    padding-top   3*gs
    padding-right gs
  &__link
    color             c-orange
    display           inline-block
    margin            0 2*gs
    font-size         13*PX
    letter-spacing    PX
    text-decoration   none
    // &.active
    //   border-bottom PX solid
  &__logo
    fill              c-orange
    rect              20*PX
  &__logo-link
    display           inline-block
    position          absolute
    left              4.5*gs
    top               3.5*gs
  