@import '../imports.styl'

{el = '.tutorials-sidebar'}
  position          relative
  text-align        left
  width             17.5*gs
  &__header
    color           c-orange
    font-size       16*PX
    letter-spacing  PX
